# Aula 05 - Introdução ao List Comprehension e Format

> Nessa aula iremos dar introdução ao list comprehension, uma forma mais simples de realizar 
conversões de valores entre duas ou mais listas. Atualmente é uma das formas mais simples de 
aplicar conversões, substituindo as declarações mais extensas do que o metodo convensional, Lamda e o Map.

### Exemplo 1 - Conversão de Celsius para Fahrenheit

In [2]:
celsius = [10,20,24,35,50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print(fahrenheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

### Exemplo 2 - Comversão de Kmh para Mph

In [5]:
Kph = [30,40,50,60,100]
Mph = [round(x/1.6093,2) for x in Kph]
print(Mph)

[18.64, 24.86, 31.07, 37.28, 62.14]

In [10]:
print("{:<6}{:<6}".format("Kph","Mph"))
print("============")
x = 0
while (x<len(Kph)):
    print("{:<6}{:<6}".format(Kph[x],Mph[x]))
    x+=1
print("============")

Kph   Mph
============
30    18.64
40    24.86
50    31.07
60    37.28
100   62.14
============

In [17]:
print("{:<10}{:<6}".format("celsius","fahrenheit"))
print("========+=============")
x = 0
while (x<len(celsius)):
    print("{:<11}{:<13}".format(celsius[x],fahrenheit[x]))
    x+=1
print("========+=============")

celsius   fahrenheit
========+=============
10         50.0
20         68.0
24         75.2
35         95.0
50         122.0
========+=============

### Exercício 1

> Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e milhas marítmas. Listando o número da linha e o cabeçalho da tabela.

In [65]:
metros = [5,10,15,30,50,60,70,80,90,100]
metros.sort()
polegadas = [round(x*39.37,2) for x in metros]
pes = [round(x*3.281,2) for x in metros]
jardas = [round(x*1.094,2) for x in metros]
MiMaritmas = [round(x/1852,2) for x in metros]

print("===================================================")
print("{:<8}{:<11}{:<7}{:<10}{:<20}".format("Metros","Polegadas","Pés","Jardas","Milhas Marítmas"))
print("======+==========+=======+=======+=================")

x=0
while (x<len(metros)):
    print("{:<8}{:<11}{:<8}{:<8}{:<19}".format(metros[x],polegadas[x],pes[x],jardas[x],MiMaritmas[x]))
    x+=1
    print("---------------------------------------------------")
print("======+==========+=======+=======+=================")

===================================================
Metros  Polegadas  Pés    Jardas    Milhas Marítmas
======+==========+=======+=======+=================
5       196.85     16.41   5.47    0.0
---------------------------------------------------
10      393.7      32.81   10.94   0.01
---------------------------------------------------
15      590.55     49.22   16.41   0.01
---------------------------------------------------
30      1181.1     98.43   32.82   0.02
---------------------------------------------------
50      1968.5     164.05  54.7    0.03
---------------------------------------------------
60      2362.2     196.86  65.64   0.03
---------------------------------------------------
70      2755.9     229.67  76.58   0.04
---------------------------------------------------
80      3149.6     262.48  87.52   0.04
---------------------------------------------------
90      3543.3     295.29  98.46   0.05
---------------------------------------------------
100     3937.0     328.1   109.4   0.05
---------------------------------------------------
======+==========+=======+=======+=================

In [102]:
metros = [5,10,15,30,50,60,70,80,90,100]
metros.sort()
polegadas = [round(x*39.37,2) for x in metros]
pes = [round(x*3.281,2) for x in metros]
jardas = [round(x*1.094,2) for x in metros]
MiMaritmas = [round(x/1852,2) for x in metros]

print("==========================================================")
print("{:<5}{:<9}{:<11}{:<7}{:<10}{:<20}".format("n°","Metros","Polegadas","Pés","Jardas","Milhas Marítmas"))
print("===+========+==========+======+========+==================")

for v in range(0,len(metros),1):
    print("{:<5}{:<8}{:<11}{:<8}{:<10}{:<20}".format(v+1,metros[v],polegadas[v],pes[v],jardas[v],MiMaritmas[v]))
    print("----------------------------------------------------------")
print("===+========+==========+======+========+==================")

==========================================================
n°   Metros   Polegadas  Pés    Jardas    Milhas Marítmas
===+========+==========+======+========+==================
1    5       196.85     16.41   5.47      0.0
----------------------------------------------------------
2    10      393.7      32.81   10.94     0.01
----------------------------------------------------------
3    15      590.55     49.22   16.41     0.01
----------------------------------------------------------
4    30      1181.1     98.43   32.82     0.02
----------------------------------------------------------
5    50      1968.5     164.05  54.7      0.03
----------------------------------------------------------
6    60      2362.2     196.86  65.64     0.03
----------------------------------------------------------
7    70      2755.9     229.67  76.58     0.04
----------------------------------------------------------
8    80      3149.6     262.48  87.52     0.04
----------------------------------------------------------
9    90      3543.3     295.29  98.46     0.05
----------------------------------------------------------
10   100     3937.0     328.1   109.4     0.05
----------------------------------------------------------
===+========+==========+======+========+==================

### Exercício 2

> Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit, listando o número da linha e o cabeçalho

In [85]:
Kelvin = [50,100,150,200,250,300,320,340,350,450]
Kelvin.sort()
Celsius = [round(x-273.15,2) for x in Kelvin]
Fahrenheit = [round(x*1.8+32) for x in Celsius]
print("===============================")
print("{:<8}{:<11}{:<7}".format("Kelvin","Celsius","Fahrenheit"))
print("======+=========+==============")
x=0
while (x<len(Kelvin)):
    print("{:<8}{:<11}{:<8}".format(Kelvin[x],Celsius[x],Fahrenheit[x]))
    x+=1
    print("-------------------------------")
print("======+=========+==============")

===============================
Kelvin  Celsius    Fahrenheit
======+=========+==============
50      -223.15    -370
-------------------------------
100     -173.15    -280
-------------------------------
150     -123.15    -190
-------------------------------
200     -73.15     -100
-------------------------------
250     -23.15     -10
-------------------------------
300     26.85      80
-------------------------------
320     46.85      116
-------------------------------
340     66.85      152
-------------------------------
350     76.85      170
-------------------------------
450     176.85     350
-------------------------------
======+=========+==============

In [100]:
Kelvin = [50,100,150,200,250,300,320,340,350,450]
Kelvin.sort()
Celsius = [round(x-273.15,2) for x in Kelvin]
Fahrenheit = [round(x*1.8+32) for x in Celsius]
print("====================================")
print("{:<5}{:<9}{:<11}{:<7}".format("N°","Kelvin","Celsius","Fahrenheit"))
print("===+========+==========+============")

for v in range(0,len(Kelvin),1):
    print("{:<5}{:<8}{:<11}{:<7}".format(v+1,Kelvin[v],Celsius[v],Fahrenheit[v]))
    print("------------------------------------")
print("===+========+==========+============")

====================================
N°   Kelvin   Celsius    Fahrenheit
===+========+==========+============
1    50      -223.15    -370
------------------------------------
2    100     -173.15    -280
------------------------------------
3    150     -123.15    -190
------------------------------------
4    200     -73.15     -100
------------------------------------
5    250     -23.15     -10
------------------------------------
6    300     26.85      80
------------------------------------
7    320     46.85      116
------------------------------------
8    340     66.85      152
------------------------------------
9    350     76.85      170
------------------------------------
10   450     176.85     350
------------------------------------
===+========+==========+============

### Exercício 3
> Crie uma lista com 10 pesos em Quilos. Faça a conversão para o peso na Terra, Lua, Jupiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercícios passados